__pycache__/
*.pyc
.venv/
.env
.DS_Store
.vscode/
airflow/logs/
airflow/*.db
/tmp/
.agents
.github/workflows
dbt
legacy
airflow

# Databases (Data Warehouse)
warehouse/*.duckdb
*.db
*.duckdb

# Logs & Meta
*.log
model_performance_log.json

# Streamlit Local Secrets (CRITICAL for security)
.streamlit/secrets.toml
.streamlit/
