__pycache__/
*.pyc
.venv/
.env
.DS_Store
.vscode/
airflow/logs/
airflow/*.db
/tmp/
.agents
.github/workflows
dbt
legacy
airflow
scratch
scripts
*.sh
dashboard.py
.agents/
logs/
teraform/

# Databases (Data Warehouse)
warehouse/*.duckdb
!warehouse/stock_demo.duckdb
*.db
*.duckdb

# Logs & Meta
*.log
model_performance_log.json

# Streamlit (Ignore secrets, allow config)
.streamlit/secrets.toml
# .streamlit/ # Commented out to allow config.toml

# Local temporary cache
.cache/
